## 함수의 정의

In [1]:
print("hello")
print("world")

hello
world

In [2]:
# 함수정의
# 실행할 코드블럭과 그에 대한 이름을 정의
def my_function():
    print("hello")
    print("world")

In [4]:
print('test')
my_function()
print('test')

test
hello
world
test

## 함수의 입력변수

In [5]:
def double(x):
    result = 2*x
    print(result)

In [6]:
double(2)
double(3)
double(4)

4
6
8

In [7]:
my = double(3)
print(my)

6
None

## 함수의 출력변수

In [8]:
def double(x):
    result = 2*x
    return result

In [9]:
y = double(2)
print(y)
y = double(10)
print(y)
z = double(30)
print(z)

4
20
60

## 입력값이 여러개인 함수

In [10]:
# 입력변수를 여러개를 함수에 넣고 싶다면
# 콤마로 서로다른 이름의 변수로 구분하여 넣는다.
def jegop(x,y):    
    return x**y

In [13]:
y=jegop(2,10)
print(y)

1024

## 지역변수

In [14]:
def tenTimes(x):
    z = x*10
    return z

In [15]:
z=5
tenTimes(10)
print(z)

5

In [16]:
x=3
tenTimes(10)
print(x)

3

## 함수를 사용한 프로그램의 구조화

In [22]:
def print_line():
    print('-'*50)

def print_five():
    for i in range(5):
        print('hello world')

def print_star():
    print('*'*50)

print_line()
print_star()
print_five()
print_star()
print_line()

--------------------------------------------------
**************************************************
hello world
hello world
hello world
hello world
hello world
**************************************************
--------------------------------------------------

## 함수의 입출력값에는 제한이 없다

In [23]:
# a를 리스트로 보고
# 리스트 안에 있는 모든 숫자의 합
def sum_list(a):
    result = 0
    for i in a:
        result = result + i
    return result

result=sum_list([1,3,5,4,2])
print(result)

15

In [25]:
for i in 3:
    print(i)

TypeError: ignored

## 함수안의 함수

In [27]:
def print_line():
    print('-'*50)

def print_five():
    for i in range(5):
        print('hello world')

def print_star():
    print('*'*50)

def main():
    print_line()
    print_star()    
    print_five()
    print_star()
    print_line()

main()

--------------------------------------------------
**************************************************
hello world
hello world
hello world
hello world
hello world
**************************************************
--------------------------------------------------

In [29]:
def square(x):
    return x**2

def my_sum(x):
    result=0
    for i in range(x+1):
        result=result+square(i)
    return result

print(my_sum(3)) #1+4+9
print(my_sum(5)) #1+4+9+16+25

14
55

## 함수의 결과값을 입력값으로 사용

In [30]:
def f(x):
    return x**2

def g(y):
    return y+1

g(f(3))

10