## 리스트

In [ ]:
x=[1,3,5,7]
y=['a',35,'hello',20] # 리스트 안에 다양한 종류의 값을 담을 수 있다.
z=[True, False, 1, 3] # 불리언도 담을 수 있다.
m=[] # 심지어 값이 없어도 된다.
print(x)
print(y)
print(z)
print(m)

[1, 3, 5, 7]
['a', 35, 'hello', 20]
[True, False, 1, 3]
[]

In [ ]:
mixed = ['hello',[1,2],[]]
print(mixed)

['hello', [1, 2], []]

## for를 이용한 반복

In [ ]:
numbers = [1,2,3,4,5]
for i in numbers:
    print(i)

1
2
3
4
5

In [ ]:
numbers = [1,2,3,4,5]
# hello를 다섯번 출력하는 프로그램
for i in numbers:
    print('hello')

hello
hello
hello
hello
hello

In [ ]:
numbers = [1,2,3,4,5]
# hello를 다섯번 출력하는 프로그램
for i in numbers:
    print(i)
    print('hello')

1
hello
2
hello
3
hello
4
hello
5
hello

In [ ]:
# 위에서 실행된 변수들을 모두 기억하고 있다.
for i in numbers:
    print(i+3) # 1+3, 2+3, 3+3, .., 5+3

4
5
6
7
8

In [ ]:
temp = 'any'
print ('Hi '+temp+' Man!')

Hi any Man!

In [ ]:
x = ['kim', 'na', 'park', 'lee']
for i in x:
    print('Hi '+i+' Nice to meet you!')

Hi kim Nice to meet you!
Hi na Nice to meet you!
Hi park Nice to meet you!
Hi lee Nice to meet you!

## range 명령어

In [ ]:
for i in range(5): #range(5) = [0,1,2,3,4]
    print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
    print('hello')

hello
hello
hello
hello
hello

## 변수업데이트

In [ ]:
n = 3
n = n + 3
print(n)

6

In [ ]:
n = 3 # n = 3
n = n + 3 # n = 3+3
n = n + 3 # n = 6+3
n = n + 3 # n = 9+3 
print(n)

12

In [ ]:
x=0
for i in range(5):
    x=x+1
print(x)

5

In [ ]:
x=0
for i in range(5):
    x=x+i # 0+1+2+3+4
print(x)

10

In [ ]:
x=0
for i in [1,3,5,7,9]:
    x=x+i
print(x)

25

## 중첩반복문

In [ ]:
for i in range(2):
    print('hi')
    for j in range(3):
        print('there')

hi
there
there
there
hi
there
there
there

In [ ]:
for i in [1,3,5]:
    for j in ['a','b','c']:
        print(i,j)

1 a
1 b
1 c
3 a
3 b
3 c
5 a
5 b
5 c